In [20]:
import streamlit as st
import pandas as pd
import plotly.express as px
from glob import glob

In [21]:
# TA_NAMES = [
#     "森ひかる",
#     "高木裕美",
#     "櫻井愛菜",
#     "田中沙季",
#     "増崎セリナ",
#     "小野晴茄",
#     "澤田守杏",
#     "播磨ここね",
#     "田中希湖",
#     "石田美咲希",
# ]

input_file = 'output/measure/'
output_file = 'compare/'

In [22]:
file_paths = glob(input_file+'*.xlsx')
file_paths

['output/measure/播磨ここね_measure.xlsx',
 'output/measure/石田美咲希_measure.xlsx',
 'output/measure/高木裕美_measure.xlsx',
 'output/measure/森ひかる_measure.xlsx',
 'output/measure/櫻井愛菜_measure.xlsx',
 'output/measure/田中希湖_measure.xlsx',
 'output/measure/田中沙季_measure.xlsx',
 'output/measure/澤田守杏_measure.xlsx',
 'output/measure/小野晴茄_measure.xlsx',
 'output/measure/増崎セリナ_measure.xlsx']

In [23]:
def extract(file_path):
    df = pd.read_excel(file_path)
    column = df.iloc[0, 2]
    df = df.iloc[:, [1, 12]]
    df = df.rename(columns={'20本ジャンプ (秒)':column})
    return df

In [24]:
df = pd.DataFrame()

for file_path in file_paths:
    df = pd.concat([df, extract(file_path)], axis=1)

In [25]:
df = df.iloc[:, [0, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]]
df.to_excel(output_file+'jump.xlsx', index=0)

In [26]:
df

,播磨ここね,石田美咲希,高木裕美,森ひかる,櫻井愛菜,田中希湖,田中沙季,澤田守杏,小野晴茄,増崎セリナ
0,14.820,15.221401,15.460,15.510,15.180,14.710,15.240,15.090,14.925,15.010
1,14.870,15.180000,15.430,15.365,15.205,14.740,15.310,15.095,15.010,14.985
2,14.730,15.280000,15.515,16.100,15.350,14.830,15.380,15.070,15.110,15.195
3,14.830,15.200000,15.955,15.790,15.300,15.180,15.155,15.180,14.970,15.090
4,14.740,14.905000,15.950,15.940,15.130,15.060,15.070,15.290,14.990,14.945
5,14.730,14.690000,15.590,16.420,15.280,14.825,15.465,15.090,15.000,15.110
6,14.705,14.850000,15.520,15.720,15.150,15.120,15.350,15.345,15.065,15.000
7,14.765,15.110000,15.725,15.975,15.420,14.855,15.220,15.115,14.990,14.995
8,14.825,15.125000,15.350,15.790,15.465,15.090,15.220,15.485,14.990,15.100
9,14.860,14.510000,15.715,15.615,15.220,15.145,15.250,15.200,14.920,15.050
10,14.745,14.635000,15.345,15.405,15.140,15.045,15.110,15.385,15.020,14.995
11,14.845,14.565000,15.770,16.340,15.280,15.060,15.480,15.135,15.145,14.975